<div class="container mt-1">
    <div class="mycontainer"></div>
        <div class="row mt-4 myrow">
            <div class="col col-md-4 mycol">
                <div class="row">
                    <div class="col col-md-12">
                        <label class="mylabel">INPUT</label>
                        <div class="form-group">
                        <label for="">X cordinate</label>
                        <input id="xValue" type="number" step="any"  placeholder="Enter X-Value" class="form-control">
                        </div>
                    </div>
                    <div class="col col-md-12">
                        <div class="form-group">
                        <label for="">Y cordinate</label>
                        <input id="yValue" type="number" step="any" placeholder="Enter Y-Value" class="form-control">
                        </div>
                    </div>
                    <div class="col col-md-12">
                        <button class="btn btn-secondary " id="renderButton">Add DataPoint & Render</button>
                    </div>
                   
                </div>
            </div>
            <div class="col- col-md-8">
                <div id="chartContainer" style="height: 270px; width: 100%;">
                </div>
            </div>
        </div>
</div>